<style>
  html {
    height: 100vh;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .signin_form {
    width: 50%;
  }

  .field{
    margin: 10px 0;
  }
  label{
    margin-bottom: 3px;
    font-size: 0.95rem;
  }

  legend {
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 600;
  }
  .field > input,
  .sec > input {
    width: 100%;
    height: 3rem;
    margin: 0.5rem 0;
    border: 1px solid #dadfeb;
    border-radius: .28571429rem;
    padding: 1rem;
  }

  .sec {
    width: 49%;
  }

  #btn {
    width: 49%;
    height: 3rem;
    background-color: #fdd400;
    border: none;
    border-radius: 25px; 
  }

  #action1, 
  #action2 {
    display: flex;
    justify-content:center;
  }

  #logo {
    margin-bottom: 3%;
    font-size: 3rem;
    text-align: center;
  }

  @media (max-width: 575px){
   .signin_form {
      width: 90%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px){
   .signin_form {
      width: 60%;
    }
  } 

  @media (min-width: 769px) and (max-width: 992px) {
   .signin_form {
      width: 45%;
    }
  }

  
  @media (min-width: 993px) and (max-width: 1200px) {
   .signin_form {
      width: 40%;
    }
  }

  @media (min-width: 1200px) {
    .signin_form {
      margin-top: 2%;
      width: 30%;
    }
  }


#logo {
  font-family: 'ThecircleM';
  font-size: 3.5rem;
  text-align: center;
  color: #fdd400;
  width: auto;
}

label, legend, p, span, html {
  color: rgb(72,72,72);
}

#btn {
  width: 100%;
  height: 3rem;
  background-color: #fdd400;
  border: none;
  border-radius: .28571429rem; 
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 600;
  margin-top: -1%;
  margin-bottom: 1%;
}
.btmment {
  padding: 1rem;
}
.btmment > .mnt > a {
  color: blue;
}
.btmment > .mnt {
  text-align: center;
  line-height: 1.5;
}
.btmment > span {
  margin-right: 2%;
  line-height: 2;
  color: rgb(72,72,72);
}
</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="signin_form">
  <a href="/"><p id="logo">반짝</p></a>
  <p style="text-align:center; margin-bottom: 7%;">* 간단한 가입으로 개이득을 누리세요 * </p>

<legend>기본 정보</legend><hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p><%= devise_error_messages! %></p>
  <div class="field">
    <%= f.label :이름 %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", required: true, autocomplete: "off" %>
  </div>
  
  <div class="field" style="display: flex; justify-content:space-between;">
  <div class="sec">
    <%= f.label :학과 %><br />
    <%= f.text_field :school, autofocus: true, autocomplete: "school", required: true, placeholder: "예) 서강학과" %>
  </div>
  <div class="sec">
    <%= f.label :학번 %><br />
    <%= f.number_field :studentid, autofocus: true, autocomplete: "studentid", required: true, placeholder: "두자리 숫자 기입 ex.14", in: 1.0..20.0, step: 1.0, :pattern => '.{1,20}' %>
  </div>
  </div>

<legend>계정 정보</legend><hr>
  <div class="field">
    <%= f.label :이메일 %><span style="color:blue; font-size: 0.95rem; margin-left: 2%;">(세인트 이메일로 인증 메일이 전송됩니다)</span><br>
    <%= f.email_field :email, pattern: "[A-Za-z0-9]{1,20}@sogang.ac.kr", autofocus: true, autocomplete: "email", required: true, placeholder: "example@sogang.ac.kr" %>
  </div>

  <div class="field">
    <%= f.label :비밀번호 %>
    <% if @minimum_password_length %>
    <em style="font-size: 0.95rem;"><%= t('(6글자 이상 입력해주세요)', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :required => true, :pattern => '.{6,}'  %>
  </div>

  <div class="field">
    <%= f.label :비밀번호재입력 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, :pattern => '.{6,}' %>
  </div>

  <div class="field">
  <div class="action" id="action1">
    <%= f.submit "회원가입", id:"btn" %>
  </div> 
  <hr>
  <div class="btmment">
    <div class="mnt"><span style="margin-right: 2%;">이미 반짝 계정이 있나요?</span><a href="/users/sign_in">로그인</a></div>
    <!--<div class="mnt"><span style="margin-right: 2%;">아직 세인트 이메일이 없으세요?</span><a href=<%= sgmail_path%>>세인트메일 생성</a></div>-->
    <div class="mnt"><span style="margin-right: 2%;">아직 세인트 이메일이 없으세요?</span><span id="mm" style="color:blue;">세인트메일 생성</span></div>  
  </div>
<% end %>



</div>

<script>

  $(document).ready(function () {
    document.getElementById('mm').onclick = function(){
      swal({
        content: "text",
        title: "세인트 메일 만드는 방법", 
        text: "1. saint에 로그인을 합니다. ( http://saint.sogang.ac.kr )\n\n2. 로그인 화면 중앙의 연계 서비스란의 E-Mail 항목 클릭\n\n3. 회원가입을 클릭한 후에 가입 절차를 밟으세요!\n\n4. 가입 승인이 완료 되면 사용 가능합니다.\n( http://mail.sogang.ac.kr )\n\n5. 이렇게 만든 메일 주소로 반짝에서 회원가입 하시고 인증 메일 받으시면 됩니다."
      })
  }});
</script>
