<li>  
	<div id="comment-<%=comment.id%>">
    <strong><%= comment.user.username %></strong> : <%= comment.content %>
    <% if comment.user == current_user %>
    <%= link_to "수정", edit_book_comment_path(book, comment), remote: true %>
    <%= link_to "삭제", book_comment_path(book, comment), remote: true, method: :delete %>
    <%= link_to "답글달기", new_book_comment_reply_path(book, comment), class: 'reply-comment-link', remote: true  %>
    <% end %>
    </div>
</li>  