<style>
  html {
    height: 100vh;
  }

  body {
    height: 100%;
    /*background-color: #232741;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pwd {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  #btn {
    width: 25%;
    height: 2.2rem;
    background-color: #fdd400;
    border: none;
    border-radius: .28571429rem;
    margin-bottom: 3%;
  }

  .field > #eml_box {
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem 0;
    border: 1px solid #dadfeb;
    border-radius: .28571429rem;
    padding: 1rem;
  }

  #logo {
    margin-bottom: 3%;
    font-size: 3rem;
    text-align: center;
  }

  .menu > a {
    margin-right: 5%;
    margin-left: 5%;
  }


    @media (min-width: 1200px) {
    .pwd {
      width: 30%;
    }
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
    .pwd {
      width: 40%;
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .pwd {
      width: 60%;
    }
  }

  @media (min-width: 576px) and (max-width: 768px){
    .pwd {
      width: 65%;
    }
  } 

  @media (max-width: 575px){
    .pwd {
      width: 70%;
    }   

  } 
</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="pwd">
<a href="/"><p id="logo">반짝</p></a>
<h1 style="font-size: 1.5rem;"><%= t('.forgot_your_password') %></h1>
<p>이메일 주소를 입력하시면<br> 계정에 연결된 이메일 주소로 비밀번호를 재설정 할 수 있도록 도와드립니다.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"eml_box", placeholder: "이메일 주소 입력" %>
  </div>

  <div class="actions">
    <%= f.submit t('.send_me_reset_password_instructions'), id:"btn" %>
  </div>
<% end %>

<div class="menu">
<a href="/users/sign_in">로그인</a>
<a href="/users/sign_up">회원 가입</a>
</div>
</div>
<script>
  $('#btn').click(function() {
    swal({
      icon: "success",
      title : "확인 메일 전송 완료",
      text: "메일함을 확인해보세요",
      buttons: false,
      timer: 2500,
      closeModal: false
      });
    }) 
  </script>
