<style>
  body {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
  }

  .books_title {
    padding: 1rem;
    padding-bottom: 0rem;
  }

  #eachcard {
    padding: 0 0.5rem;
    height: 10rem;
    margin-bottom: 0.5rem;
  }

  .card-body {
    padding: 0rem;
    padding-top: 3%;
    width: 80%;
  }

  #eachcard a {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .card-image-top {
    height: 100%;
  }

  .inner-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .choice > span {
    margin-right: 3px;
    cursor: pointer;
}
  .choice span.active {
    color: rgb(72,72,72);
    font-weight: 800;
  }
  .nav-link#search2 {
    visibility: hidden;
  }
  .no_books {
    visibility: hidden;
    margin-top: 5%;
  }
  .choice {
    display: flex;
    justify-content: flex-end;
  }

  .choice > span {
    font-size: 0.9rem;
  }

  #discnt {
  color: red;
  }

  #won {
    font-weight: bold;
  }
  .card-title {
    text-align: center;
  }

  .card-text {
    display: flex;
    justify-content: center;
  }

  .card-text p {
    font-size: 0.85rem;
  }

/* media queries */
@media all and (min-width: 320px) and (max-width: 767px) {
  .card-text p {
    font-size: 0.9rem;
  }
  .card-body {
    padding-top: 0;
  }
  .card-title {
    font-size: 0.9rem;
  }
  main,
  .container {
    background-color: rgb(243,243,241);
  }
  .card {
    border: none;
  }
  .card-title {
    width:95%;
    padding-left: 1rem;
  }
  #eachcard {
    padding: 0 0.1rem;
  }
  .footer {
    padding-top: 0rem !important;
  }
}
@media all and (min-width: 768px) {
  .card {
    border: none;
  }
  .book_contents {
    padding: 1.2rem 0 10rem 0;
    min-height: 80vh;
  }

  .card-image-top {
    height: 200px;
    margin: 0 auto;
  }

  .card-body {
    margin: 0 auto;
  }

  .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  #eachcard {
    height: 330px;
  }

  #eachcard a {
    display: block;
  }

  .card-image-top {
    width: 100%;
  }

  .inner-image {
    height: 100%;
  }
}
.img-cover {
  height: 100%;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}
</style>


<% books.each do |b| %>
<div class="col-12 col-xl-3 col-md-4 col-sm-6 card" id="eachcard">
  <%= link_to book_path(b.id)do %>
  <div class="card-image-top">
    <div class="inner-image" style="background-image: url(http://dsgut53a1wh4g.cloudfront.net/<%=b.img_url.first.path%>)">
      <% if b.sell %>
      <div class="img-cover text-center">판매완료</div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="card-title"><%=b.bookname%> | <%= b.author%></div>
    <div class="card-text">
      <p id="won"><%= b.price%>원</p>
      <p id="discnt">[<%= b.discount%>%&darr;]</p>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<script>
/*모바일에서는 사진 사이즈 잘되는데, 큰화면에서는 어떻게?*/
  $(document).ready(function () {
    var cw = $('.card-image-top').height();
    $('.card-image-top').css({'width': cw + 'px'});
  });
</script>