<% books.each do |b| %>
<div class="col-12 col-xl-3 col-md-4 col-sm-6 card" style="margin-bottom: 3rem; border: none;">
  <%= link_to book_path(b.id)do %>
  <div class="card-image-top">
    <div class="inner-image" style="background-image: url(<%=b.img_url.first%>)"></div>
  </div>
  <div class="card-body" style="padding-bottom: 1.5rem;">
    <div class="card-title" style="height: 2rem;"><h4 style="font-weight: bold;"><%=b.bookname%></h4></div>
    <p class="card-text"><%= b.author%></p>
    <p class="card-text"><%= b.price%>원</p>
    <p class="card-text"><%= b.discount%>%</p>
  </div>
  <% end %>
</div>
<% end %>

<!-- 정원아 이거야 -->
<%= paginate @books %> 