<style>
.form-group2 {
	display: flex;
	justify-content : space-between;
}

.form-group2 > .form-group {
	width: 48%;
}

legend {
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 5%;
	margin-bottom: 5%;
}

/*
ul {
	list-style-type: none;
	width: 100%;
	display: table;
	table-layout: fixed;
	border: 1px solid #cfd9db;
	border-radius: .25em;
}

li {
	display: table-cell;
	width: 50%;
}
*/

}
table {
  border-collapse: collapse;
  border-radius: 0.25em;
  overflow: hidden;
}

th, td {
  padding: 1em;
  background: #f3f3f3;
  border-bottom: 3px solid white;
	border-right: 1.5px solid white; 
	text-align: center;
	vertical-align: middle;
}

td:hover {
	background-color: #d9d9d9;
}

.info {
	width: 100% !important;
}

.form-group3 {
	width: 80%;
}

.find-info {
	width: 20%;
	padding: 3% 1%;
}
.table-top, .table-btm {
	visibility: hidden;
}

i {
	color: #495057 !important;
	margin-right: 2%;
}

.ment {
	margin-top: 2%;
	margin-bottom: 8%;
	
}

.ment h2 {
	font-size: 2rem;
	font-weight: 600;
	color: #495057;
}

.sub {
	font-size: 1rem;
	font-weight: 400;
	color: #717171;
}

</style>
<div class="submit-form">
<%= form_for book, url: path, method: form_method, multipart: true, :html => {class: 'submit-form-content'} do |f| %>
	<fieldset>
		<legend>
			<div style="display: flex;">
				<i class="fas fa-book-open"></i>
				<div style="width: 80%;"><p style="margin-bottom: 1%;">도서 정보</p><p class="sub">저자나 책 이름을 입력하고 검색을 눌러보세요</p></div>
			</div>
		</legend>

		<%= f.label :도서명, class: 'form-label'%>
		<div class="form-group2">
			<%= f.text_field :bookname, class: 'form-control bookname',placeholder: '직접 입력하기',:required => true%>
			<%= link_to '제목/저자검색', '', class: 'find-info', remote: true %>
	  </div>

		<div class="table-top" style="display: flex; justify-content: space-between;">
			<span>상위 5개 검색 결과입니다</span>
			<span>출처 : <a href="https://book.naver.com/" target="_blank" style="color: blue;">네이버 북스</a></span>
		</div>
		<table class="info"></table>
		
		<div class="form-group2"> 
	  <div class="form-group">
			<%= f.label :저자, class: 'form-label'%>(대표)
			<%= f.text_field :author, class: 'form-control author half', placeholder: '직접 입력하기',:required => true%>
	  </div>
		<div class="form-group">
			<%= f.label :원래가격, class: 'form-label' %>(원)
			<input class="form-control orgprice" id="disabledInput" type="text" placeholder="" disabled>
		</div>
		</div>
		
		<hr>
		<legend>
			<div style="display: flex;">
				<i class="fas fa-money-bill-wave"></i>
				<div style="width: 80%;"><p style="margin-bottom: 1%;">판매 정보</p><p class="sub">원하는 가격을 입력하면 자동으로 할인율이 계산됩니다</p></div>
			</div>
		</legend>

		<div class="form-group2">
	  <div class="form-group">
			<%= f.label :가격, class: 'form-label' %>(원)
			<%= f.text_field :price, class: 'form-control price',:required => true%>
		</div>
		<div class="form-group">
			<%= f.label :할인율, class: 'form-label' %>
			<p class="discnt">%</p>
		</div>
		</div>

		<div class="form-group">
			<%= f.hidden_field :cost, class: 'form-control cost', value: 0%>
	  </div> 

		<div class="file-input">
				<%= f.button '찾아보기', class: 'button' %>
				<%= f.label '사진이 선택됐습니다', for: 'formControlFile', class: 'label' %>
				<%= f.file_field :img_url, multiple: true, class: 'form-control-file', id: 'formControlFile1' %>
		</div>

		<div class="form-group">
			<%= f.label :상세정보, class: 'form-label' %>
			<%= f.text_area :content, class: 'form-control', placeholder: '추가적인 정보를 입력해주세요(책의 상태 및 거래방법 등)'%>
		</div>

		<div class="btn-groups">
		<button type="submit" class="btn" id="btn1" style="margin-right: 4px;" >뒤로가기</button>
		<button type="submit" class="btn" id="btn2" style="margin-right: 4px;" >등록하기</button>

		</div>
	  </fieldset>
<% end %>
</div>


<script>
$(document).ready(function () {
    $(document).on('click', '.find-info', function () {
    	var info = $('.bookname').val();
    	$('.find-info').attr('href', '/info/'+info);
    });
    
	$(document).on('click', 'tr', function () {
			var title = $(this).data("title");
    	var author = $(this).data("author");
    	var price = $(this).data("price");
    	console.log(title);			
    	console.log(author);
    	console.log(price);
			$('.bookname').val(title);
    	$('.author').val(author);
    	$('.cost').val(price);
    	$('.orgprice').val(price);
    });

	$(document).on('click', '.find-info',function() {
		$('.table-top').css('visibility','visible');
		$('.table-top').css('margin-top','6%');
		$('.table-btm').css('margin-bottom','3%');
		$('.info').css('margin-top','1%');
		$('.info').css('margin-bottom','3%');
	});

	$('.price').blur(function(){
		var price = $('.price').val();
		var orgprice = $('.orgprice').val();
		if (price != '' && orgprice != '' ) {
			var price_f = parseFloat(price);
			var orgprice_f = parseFloat(orgprice);
			var discnt = ((orgprice_f-price_f)/orgprice_f*100).toFixed(2);
			$('.discnt').text(discnt+'%');
		}
	});
});  
</script>