<div class="submit-form">
<%= form_for book, url: path, method: form_method, multipart: true, :html => {class: 'submit-form-content'} do |f| %>
	<fieldset>
		<div class="form-group">
			<%= f.label :도서명, class: 'form-label'%>
			<%= f.text_field :bookname, class: 'form-control bookname', :required => true%>
			<%= link_to '찾아보기', '', class: 'find-info', remote: true %>
			<ul class="info">
				
			</ul>
	  </div> 
	  <div class="form-group">
			<%= f.label :저자, class: 'form-label' %>(대표)
			<%= f.text_field :author, class: 'form-control author', :required => true%>
	  </div>
	  <div class="form-group">
			<%= f.label :가격, class: 'form-label' %>(원)
			<%= f.text_field :price, class: 'form-control price', :required => true%>
		</div>
		<div class="form-group">
			<%= f.label :원래가격, class: 'form-label' %>(원)
			<input class="form-control orgprice" id="disabledInput" type="text" placeholder="" disabled>
		</div>

		<div class="form-group">
			<%= f.hidden_field :cost, class: 'form-control cost', value: 0%>
	  </div> 

		<div class="file-input">
				<%= f.button '찾아보기', class: 'button' %>
				<%= f.label '사진이 선택됐습니다', for: 'formControlFile', class: 'label' %>
				<%= f.file_field :image, class: 'form-control-file', id: 'formControlFile1' %>
		</div>

		<div class="form-group">
			<%= f.label :상세정보, class: 'form-label' %>
			<%= f.text_area :content, class: 'form-control', placeholder: '추가적인 정보를 입력해주세요(책의 상태 및 거래방법 등)'%>
		</div>

		<div class="btn-groups">
		<button type="submit" class="btn" id="btn1" style="margin-right: 4px;" >등록하기</button>
		<!--<%= link_to '', class: 'more-book' do %><i class="fas fa-plus"></i><% end %>-->
		<button class="btn" id="btn2"><%= link_to '', class: 'more-book' do %>추가하기<% end %></button>
		</div>
	  </fieldset>
<% end %>
</div>


<script>
$(document).ready(function () {
    $(document).on('click', '.find-info', function () {
    	var info = $('.bookname').val();
    	$('.find-info').attr('href', '/info/'+info);
    });
    $(document).on('click', 'li', function () {
			var title = $(this).data("title");
    	var author = $(this).data("author");
    	var price = $(this).data("price");
    	console.log(title);			
    	console.log(author);
    	console.log(price);
			$('.bookname').val(title);
    	$('.author').val(author);
    	$('.cost').val(price);
    	$('.orgprice').val(price);
    });
});  
</script>