<div class="submit-form">
<%= form_for book, url: path, method: form_method,multipart: true, :html => {class: 'submit-form-content'} do |f| %>
	<fieldset>
		<legend class="main-label">내 책 정보 <%= link_to '', class: 'more-book' do %><i class="fas fa-plus"></i><% end %></legend>
		<hr>
		<div class="form-group">
			<%= f.label :도서명, class: 'form-label' %>
			<%= f.text_field :bookname, class: 'form-control', :required => true%>
	  </div> 
	  <div class="form-group">
			<%= f.label :저자, class: 'form-label' %>
			<%= f.text_field :author, class: 'form-control', :required => true%>
	  </div>
	  <div class="form-group">
			<%= f.label :가격, class: 'form-label' %>
			<%= f.text_field :price, class: 'form-control', :required => true%>
	  </div> 
	  <div class="form-group">
				<%= f.label '책 사진', for: 'formControlFile', class: 'form-label' %>
				<%= f.file_field :image, class: 'form-control-file', id: 'formControlFile1' %>
		</div>
		<div class="form-group">
			<%= f.text_area :content, class: 'form-control', placeholder: '추가적인 정보를 입력해주세요(책의 상태 및 거래방법 등)'%>
		</div>
		<button type="submit" class="btn">등록하기</button>
	  </fieldset>
<% end %>
</div>