<style>
html {
	font-family: 'Nanum Square','Nanum Gothic', sans-serif;
}
.form-group2 {
	display: flex;
	justify-content : space-between;
}

.form-group2 > .form-group {
	width: 48%;
}

legend {
	font-size: 1.3rem;
	font-weight: 600;
	margin-top: 5%;
	margin-bottom: 5%;
}

/*
ul {
	list-style-type: none;
	width: 100%;
	display: table;
	table-layout: fixed;
	border: 1px solid #cfd9db;
	border-radius: .25em;
}

li {
	display: table-cell;
	width: 50%;
}
*/

}
table {
  border-collapse: collapse;
  border-radius: 0.25em;
  overflow: hidden;
}

th, td {
  padding: 1em;
  background: white;
	text-align: center;
	vertical-align: middle;
}

td {
	border-bottom: 1px solid lightgray;
}
tr:nth-child(1) {
	border-top: 1px solid lightgray;
}

.info {
	width: 100% !important;
}

.form-group3 {
	width: 80%;
}

.find-info {
	width: 15%;
	padding: 1rem;
	text-align: center;
	vertical-align: middle;
}
.find-info .fas {
	font-size: 1.5rem;
	color: #495057 !important
}

i {
	color: #495057;
	margin-right: 2%;
}

.ment {
	margin-top: 2%;
	margin-bottom: 8%;
	
}

.ment h2 {
	font-size: 2rem;
	font-weight: 600;
	color: #495057;
}

.sub {
	font-size: 0.9rem;
	font-weight: 500;
	color: #717171;
	margin-top: 1%;
}

button.btn {
	width: 100%;
	padding: 0.8rem;
	background-color: #fdd400;
	font-weight: 800;
	color: rgb(72,72,72);
}



@media all and (min-width: 320px) and (max-width: 575px) {
	table, thead, tbody, th, td, tr { 
		display: block;
	} 
	p {
		font-size: 0.95rem;
		line-height: 22px;
	}
	fieldset {
		margin-top:4%;
	}
	.info {
		border-right: 1px solid lightgray;
		border-left: 1px solid lightgray;
	}

	#legendbar {
		margin-right: -10%;
		margin-left: -10%;
	}
	i {
		 margin-left: 1rem;
	 }
	tr {
		 border-bottom: 1px solid lightgray;
		 padding: 0.5rem 0;
	 }
	tr:nth-child(1) {
		 border-top: 1px solid lightgray;
	 }
	td {
		border-bottom: none;
		 background: white;
		 padding: 0.3rem;
	}
}
	.info {
		border-right: 1px solid lightgray;
		border-left: 1px solid lightgray;
	}
p, span, a, html, legend {
	color: rgb(72,72,72);
}
p {
	font-size: 0.9rem;
}
#title {
	font-weight: 600;
	font-size: 1.3rem;
}

.form-label {
	font-size: 0.95rem;
}

#legendbar {
	background-color: rgb(242,244,241);
	padding: 1rem;
}
.discnt {
	height:68%;
	background-color: #e9ecef;
	border: 1px solid #cfd9db;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.08);
	border-radius: 0.25rem;
}
.show-info {
	display: none;
}
.next-info {
	font-size: 0.9rem;
}
label {
	font-weight: 500;
}

/* swal */
.swal-overlay {
  background-color: rgba(253,212,0,0.5);
}

.swal-title {
  margin: 0px;
	font-size: 18px;
	font-weight: bold;
  margin-bottom: 28px;
}

button:focus {
	outline: none;
}

.popupment1 {
	margin-top: 3%;
}

</style>
<div class="submit-form">
<%= form_for book, url: path, method: form_method, multipart: true, :html => {class: 'submit-form-content'} do |f| %>
	<fieldset>
		<legend>
			<div id="legendbar" style="display: flex;">
				<i class="fas fa-book-open"></i>
				<div style="width: 80%;">
					<p id="title">도서 검색</p>
					<span style="font-size: 0.8rem;">찾는 책을 클릭하면 자동으로 입력됩니다</span>
					<div class="row">
					<input type="text" class="sub search col-10" placeholder="저자나 책 이름 검색" style="height: 40px; margin-top: 3%; width: 100%">
					<%= link_to '<i class="fas fa-search" style = "margin: 0;"></i>'.html_safe,  '', class: 'find-info col-2', remote: true %>
					</div>
				</div>
			</div>
		</legend>
		<div class="show-info">
		<div class="table-top" style="display: flex; justify-content: space-between;">
			<span style="font-size: 0.9rem;">상위 5개 검색 결과입니다</span>
			<span style="font-size: 0.9rem;">출처 : <a href="https://book.naver.com/" target="_blank" style="color: blue; font-size: 0.9rem;">네이버 도서정보</a></span>
		</div>
		
		<table class="info"></table>

		<div class="table-btm" style="display: flex; justify-content: flex-end;">
			<span class="next-info">다음 5개 결과보기</span>
		</div>
		</div>

		<%= f.label :도서명, class: 'form-label'%>
		<div class="form-group2">
			<%= f.text_field :bookname, class: 'form-control bookname',  :autocomplete => :off, :required => true%>
	  </div>
		
		<div class="form-group2"> 
	  <div class="form-group">
			<%= f.label :저자, class: 'form-label', style: "font-size: 0.95rem;"%>
			<%= f.text_field :author, class: 'form-control author half', :required => true%>
	  </div>
		<div class="form-group">
			<%= f.label :원래가격, class: 'form-label' %>
			<input class="form-control orgprice" id="disabledInput" type="text" placeholder="" disabled>
		</div>
		</div>
		<!-- <hr>
		<legend>
			<div id="legendbar" style="display: flex;">
				<i class="fas fa-money-bill-wave"></i>
				<div style="width: 80%;"><p id="title">판매 정보</p>
					<p class="sub">판매가를 입력하면 할인율이 계산됩니다</p>
				</div>
			</div>
		</legend> -->

		<div class="form-group2">
	  <div class="form-group">
			<%= f.label :가격, class: 'form-label' %>(원)
			<%= f.text_field :price, class: 'form-control price',:required => true%>
		</div>
		<div class="form-group">
			<%= f.label :할인율, class: 'form-label' %>
			<div class="discnt disabled" style="color: red; line-height: 2.95; font-weight: 600; color: red; padding-left: 1rem;"></div>
		</div>
		</div>

		<div class="form-group">
			<%= f.hidden_field :cost, class: 'form-control cost', value: 0 %>
	  </div> 

		<div class="file-input">
			<%= f.label :사진업로드, class: 'form-label' %>
			<p style="font-size: 0.8rem; margin-bottom: 3%; color: hsl(0,0%,29%);">첫 번째 사진이 대표 사진으로 등록됩니다. </p>
			<%= f.button '찾아보기', class: 'button' %>
			<%= f.label '여러 개 첨부 가능', for: 'formControlFile', class: 'label' %>
			<%= f.file_field :img_url, multiple: true, class: 'form-control-file', id: 'formControlFile1', :required => true %>
		</div>

		<div class="form-group">
			<%= f.label :상세정보, class: 'form-label' %>			
			<%= f.text_area :content, class: 'form-control', placeholder: '추가 정보를 입력해주세요 : 책의 상태, 에디션, 거래 방법, 연락 방법(카카오톡 아이디, 오픈채팅 등)', :required => true%>
    <div class="popupment1"><span id="aa" style="color:blue; font-size: 0.95rem;">카카오톡 아이디로 거래하는 법</span></div>  
    <div class="popupment2"><span id="bb" style="color:blue; font-size: 0.95rem;">카카오톡 오픈채팅으로 거래하는 법(*추천)</span></div>  
		</div>

		<div class="btn-groups">
			<button type="submit" class="btn">등록하기</button>
		</div>
	  </fieldset>
<% end %>
</div>


<script>
$(document).ready(function () {
    $(document).on('click', '.find-info', function () {
    	var info = $('.search').val();
    	$('.find-info').attr('href', '/info/'+info);
    	$('.next-info').html("다음 5개 결과보기");
    });

    document.getElementById('aa').onclick = function(){
      swal({
        content: "text",
        title: "카카오톡 아이디로 거래하기", 
        text: "1. 본인 카톡의 '프로필 관리' 클릭 \n\n2. '카카오톡 ID' 클릭\n\n3. ID 검색 허용 ON!"
      })
		}

    document.getElementById('bb').onclick = function(){
      swal({
        content: "text",
        title: "카카오톡 오픈 채팅으로 거래하기", 
        text: "1. 카카오톡 메인화면 오른쪽 하단의 (+)버튼 클릭\n\n2.'오픈채팅 만들기'클릭\n\n3. '1:1 채팅방 선택 및 만들기' 클릭\n\n4. 링크를 복사해 책 상세정보란에 작성"
      })	
		}
  });
    
	$(document).on('click', 'tr', function () {
		var title = $(this).data("title");
    	var author = $(this).data("author");
    	var price = $(this).data("price");
		$('.bookname').val(title);
    	$('.author').val(author);
    	$('.cost').val(price);
    	$('.orgprice').val(price);
    	$('.show-info').css('display', 'none');
    });

	$(document).on('click', '.find-info',function() {
		$('.show-info').css('display', 'block');
		$('.table-top').css('margin-top','4%');
		$('.table-btm').css('margin-bottom','3%');
		$('.info').css('margin-top','1%');
		$('.info').css('margin-bottom','3%');
	});

	$('.price').blur(function(){
		var price = $('.price').val();
		var orgprice = $('.orgprice').val();
		if (price != '' && orgprice != '' ) {
			var price_f = parseFloat(price);
			var orgprice_f = parseFloat(orgprice);
			var discnt = ((orgprice_f-price_f)/orgprice_f*100).toFixed(2);
			$('.discnt').text(discnt+'%');
		}
	});

	$(document).on('touchstart click', '.next-info', function(){
		$('tr').toggle();
		if($('.next-info').html() == "다음 5개 결과보기"){
			$('.next-info').html("이전 5개 결과보기");
		}else{
			$('.next-info').html("다음 5개 결과보기");
		}
	});
</script>