<style>
/*@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
*/
nav {
  height: 50px;
  border-bottom: 1px solid rgba(184,184,184, 0.3);
}

a, p, span {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
}

/*
#navbarNav {
  margin-right: 11%;
  margin-left: -15%;
}
*/

#navbarNav.shown {
  margin-right: 11%;
  margin-left: -15%;
}
  
.top-searchbar {
  visibility: hidden;
}

.top-searchbar. {
  width: 25%;
	color: black;
  visibility : visible;
  transition: 0.4s all;
}

.top-searchbar input#search {
  width: 100%;
  visibility: hidden;
}

.top-searchbar input#search.shown{
  width: 100%;
  transition: 0.2s all;
  visibility: visible;
}

/* sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a,
.sidenav span {
    padding: 8px 8px 8px 45px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 5%;
    text-align: start;
}

span#side_menu {
  font-size: 20px;
  font-weight: 700;
  color: #818181;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 25px;
    margin-top: 4%;
    margin-right: 3%;
-webkit-transition-duration: 0s;
-moz-transition-duration: 0s;
-o-transition-duration: 0s;
transition-duration: 0s;
}

#side_menu {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-right: 50px;
    margin-top: 4%;
}
#mobilebtn {
  cursor:pointer;
  color: white;
  visibility: hidden;
  font-size: 30px;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

nav#mobilesearch {
  visibility: hidden !important;
  width: 0px !important;
}

/* 전체 화면 그냥 이렇게 지정한 것임 */
@media screen and (max-width: 960px) {
  #mobilebtn {
    visibility: visible;
  }
}
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
/* media queries */ 
@media all and (min-width: 320px) and (max-width: 576px) {
  
}

@media all and (min-width: 577px) and (max-width: 991px){

}
@media all and (min-width: 992px) {
}

@media all and (min-width: 1200px) {

}



</style>

<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: none;">
  <%= link_to root_path, class: 'logo-link' do%>
    <!-- <div class="logo">반짝</div>-->
    <i class="fas fa-arrow-left" style="font-size: 30px; margin-right: 8%;" id="arrow"></i>
    <div class="minititle"><span></span></div>
  <% end %>
  

<!--
  <nav class= "top-searchbar nav-search" id="mobilesearch">
	  <%= form_tag(books_find_path, method: :get, class: 'form-inline search-form') do %>
      <%= text_field_tag "search", nil, class: "form-control mr-sm-2 search", placeholder: "전공책 또는 저자로 검색해주세요", type: 'search' %>
    <% end %> 
  </nav>
-->
  <div id="mobilebtn" onclick="openNav()">&#9776;</div>
  <div class="collapse navbar-collapse head-nav" id="navbarNav" style="justify-content:flex-end;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" id="search2" href=<%= root_path%>>검색하기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="regist" href=<%= new_book_path%>>책 등록하기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="mypage" href=<%= mypage_path%>>마이페이지</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item read">
        <div class="dropdown" id="bell1">
          <a class="dropdown-toggle" id="dropdownAlart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b id="bell2"><i class="far fa-bell" style="color: #fdd400"></i><%= current_user.new_notifications.unread_by(current_user).count %></b></a>
          <div class="dropdown-menu" aria-labelledby="dropdownAlart">
            <%= render partial: "new_notifications/new_notification", collection: current_user.new_notifications.unread_by(current_user) %>
            <div class="dropdown-divider"></div>
            <%= link_to '<b>모든 알림 지우기</b>'.html_safe, new_notifications_read_all_path, class: 'dropdown-item' %>
          </div>
        </div>
      </li>
      <li class="nav-item"> 
        <a class="nav-link log" id = "logs" href=<%=destroy_user_session_path%> data-method= 'delete'>로그아웃</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link log" id="logs" href=<%=new_user_session_path%>>로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link log" id = "logs" href=<%= new_user_registration_path%>>회원가입</a>
      </li>
      <% end %>
    </ul>
  </div>
<!-- sidebar -->
  <div id="mySidenav" class="sidenav" style="z-index: 200;">
    <span id="side_menu">메뉴</span>
    <a href="javascript:void(0)" class="closebtn eachmenu" id="clsbtn" onclick="closeNav()">&times;</a>
    <a style="margin-top: 25%;" href=<%= root_path%>>검색하기</a>
    <a href=<%= new_book_path%>>책등록하기</a>
    <a href=<%= mypage_path%>>마이페이지</a>
    <a href="#">services</a>
    <a href="#">contact</a>
    <a href="#">회원가입&로그인 등</a>
  </div>
</nav>
<script>
	$(document).scroll(function() {
		if ($(window).scrollTop() > 350) {
      $('a#search2, a#regist, a#mypage, a#logs, .dropdown#bell1, b#bell2').css("color", "black");
      $('.logo-link').css("margin-top","0%");
      $('#mobilesearch').css("visibility","visible");
      $('#mobilesearch').css("width","100%");
      $('#mobilebtn').css("color","black");
    }
		else {
      $('a#search2, a#regist, a#mypage, a#logs, .dropdown#bell1, b#bell2').css("color", "black");
      $('.logo-link').css("margin-top","0%");
      $('#mobilesearch').css("visibility","hidden");
      $('#mobilesearch').css("width","0px");
      $('#mobilebtn').css("color","white");
    }		
	});

  function openNav() {
    document.getElementById("clsbtn").style.visibility = "visible";
    document.getElementById("mySidenav").style.width = "250px";
  };

  function closeNav() {
    document.getElementById("clsbtn").style.visibility = "hidden";
    document.getElementById("mySidenav").style.width = "0";
  };
</script>
