<nav class="navbar navbar-expand-lg navbar-light ">
  <%= link_to root_path, class: 'logo-link' do%><div class="logo"></div><% end %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse head-nav" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=<%= new_book_path%>>책 등록하기</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item read">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdownAlart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b><i class="far fa-bell"></i><%= current_user.new_notifications.unread_by(current_user).count %></b></a>
          <div class="dropdown-menu" aria-labelledby="dropdownAlart">
            <%= render partial: "new_notifications/new_notification", collection: current_user.new_notifications.unread_by(current_user) %>
            <div class="dropdown-divider"></div>
            <%= link_to '<b>모든 알림 지우기</b>'.html_safe, new_notifications_read_all_path, class: 'dropdown-item' %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link log" href=<%=destroy_user_session_path%> data-method= 'delete'>로그아웃</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link log" href=<%=new_user_session_path%>>로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link log" href=<%= new_user_registration_path%>>회원가입</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-light bg-warning nav-search">
  <%= form_tag(books_find_path, method: :get, class: 'form-inline search-form') do %>
    <%= text_field_tag "search", nil, class: "form-control mr-sm-2 search", placeholder: "전공책 또는 저자로 검색해주세요", type: 'search' %>
  <% end %>
</nav>

<script>
  $('.search').keypress(function(e){
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });
</script>