<style>
    * {
    text-align: center;
    align-items: center;
  }
  html {
	font-family: 'Nanum Gothic', sans-serif;
}
  .result span{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: rgba(253, 212, 0, 0.6);
  }

    #mobilebtn i#bar{
    color: #232741 !important;
  }

  /* pagination */
  nav.pagination {
  display: flex;
  justify-content : center;
  border-bottom: none;
}
span.page.current {
  color: rgb(72,72,72);
  font-weight: 800;
}
span.prev {
  order: 1;
  visibility: hidden;
  width: 0;
}
span.first {
  order: 0;
}
span.page {
  order: 2;
  margin: 0 1rem;
}
span.next {
  order: 3;
  visibility: hidden;
  width: 0;
}
span.last {
  order: 4;
  margin: 0 1rem;
}
.page {
  margin: 1rem 0;
}
@media all and (max-width: 576px){
.book_contents {
  padding-top: 0rem;
}
}
@media all and (min-width: 576px) and (max-width: 992px){

}
@media all and (min-width: 992px) {
.book_contents {
  padding-top: 2rem;
}
}





</style>

<header>
<%= render 'nav2' %>
</header>

<main>

  <div class="books_title">
    <div class="result"><span><strong style="font-weight: 600">"<%=params[:search]%>"</strong>에 대한 검색 결과입니다</span></div>
    <div class="choice">
    <span class="active option" id = "0">전체</span> | <span class="option" id = "1">이름순</span> | <span class="option" id = "2">가격순</span> | <span class="option" id = "3">인기순</span>    
    </div>
  </div>

  <div class="book_contents container" style="padding-bottom: 8rem; min-height: 80vh;">
    <div class="no_books"><p style="font-size: 1rem; margin: 0;">책이 없어요ㅠㅠㅠ</p></div>    
    <div class="row">
      <%= render 'book_div', books: @books %>
    </div>
  </div>
   <div class="page"><%= paginate @books %></div>
</main>
<%= render 'footer' %>

<script>
$(document).ready(function () {
    $(document).on('click', '.option', function () {
        $(".active").toggleClass("active");
        $(this).toggleClass("active");
        var opt = $(this).attr('id');
        $(".row").empty();
        if(opt==0) {
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.id}})) %>";
        }
        else if(opt==1){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.bookname}})) %>";
        }
        else if(opt==2){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.price}})) %>";
        }
        else{
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.likes.size*-1}})) %>";
        }
        
        $(".row").append(html);
    });

    // 검색 결과 유무에 따라 멘트 등장
    var cardnum = $('.card-title').length;
    if(cardnum==0) {
      $('.no_books').css('visibility','visible');
      $('.no_books').css('height','1rem');
    }
    else {
      $('.no_books').css('visibility','hidden');
      $('.no_books').css('height','0');
    }
});  
</script>