<style>
html {
	font-family: 'Nanum Square','Nanum Gothic', sans-serif;
}
  * {
    text-align: center;
    align-items: center;
  }

  a, p, span {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
  }

  #mobilebtn .fas{
    color: white;
  }

nav.pagination {
  display: flex;
  justify-content : center;
  border-bottom: none;
}
span.page.current {
  color: rgb(72,72,72);
  font-weight: 800;
}
span.prev {
  order: 1;
  visibility: hidden;
  width: 0;
}
span.first {
  order: 0;
}
span.page {
  order: 2;
  margin: 0 1rem;
}
span.next {
  order: 3;
  visibility: hidden;
  width: 0;
}
span.last {
  order: 4;
  margin: 0 1rem;
}
.page {
  margin: 1rem 0;
}
#bell1 {
  padding-top: 0 !important;
}

@media all and (max-width: 576px){
.choice {
  padding-top: 0 !important;
}
.book_contents {
  margin-top: -1rem !important;
}
}
@media all and (min-width: 768px){
.choice {
  margin-top: 0 !important;
}
}

</style>

<%= render 'nav' %>
<main>
  <div class="books_title">
    <div class="result"></div>
    <div class="choice">
    <span class="active option" id = "0">전체</span> | <span class="option" id = "1">이름순</span> | <span class="option" id = "2">가격순</span> | <span class="option" id = "3">인기순</span>
    </div>
  </div>
  <div class="book_contents container">
    <div class="row">
      <%= render 'book_div', books: @books %>
    </div>
  </div>
   <div class="page"><%= paginate @books, window: 2 %></div> 
</main>
<%= render 'footer' %>

<script>
window.alert("안녕하세요. 반짝 운영자 입니다. \n반짝이 서버 유지비를 확보하지 못하고, 홈페이지를 관리 및 보수 할 인력 충원을 하지 못해 사이트를 닫게 되었습니다. \n그동안 광고주를 찾고자 했지만, 반짝 사이트의 대부분의 방문이 학기 시작 전후에 집중되어 쉽지 않았습니다. 초기 개발시 서강 유니브와 달리 한번 올려 놓으면 검색이 가능하다는 점 등의 강점을 부각시켜 보려 했지만, 충분한 유저를 확보하는 것에는 역부족이었던 것 같습니다. \n사이트를 닫는 즉시 모든 개인 정보는 일괄 폐기할 예정입니다. 하지만 직접 회원 탈퇴를 원하시는 분은 아래의 안내에 따라 진행해주세요. \n 그동안 반짝을 이용해 주셔서 감사합니다ㅠㅠ \n\n [반짝 회원 탈퇴 방법]\n1. 반짝에 로그인 한다. \n2. 오른쪽 상단의 정보수정 버튼을 클릭한다. \n3. 회원탈퇴 버튼을 누른다.");

$(document).ready(function () {
    $(document).on('click', '.option', function () {
        $(".active").toggleClass("active");
        $(this).toggleClass("active");
        var opt = $(this).attr('id');
        $(".row").empty();
        if(opt==0) {
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.id}})) %>";
        }
        else if(opt==1){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.bookname}})) %>";
        }
        else if(opt==2){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.price}})) %>";
        }
        else{
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.likes.size*-1}})) %>";
        }
        
        $(".row").append(html);
    });
});

	$(document).scroll(function() {
		if ($(window).scrollTop() > 350) {
      $('#bar').css("color","black");
    }
		else {
      $('#bar').css("color","white");
    }		
	});
</script>
