<style>
  * {
    text-align: center;
    align-items: center;
  }

  a, p, span {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
  }

  #mobilebtn .fas{
    color: white;
  }
/*
  .books_title {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5% 2% 0% 2%;
    font-size: 0.9rem;
    margin-top: 2%;
  }

  .book_contents {
    padding: 0.1rem 0 10rem 0;
    min-height: 80vh;
  }

@media all and (max-width: 576px){
  .card-image-top{
    width: 100%;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .card-body > p {
    font-size: 0.9rem;
  }
}
@media all and (min-width: 577px) and (max-width: 992px){
  .card-image-top{
    width: 200px;
    height: 200px;
  }
}
@media all and (min-width: 993px) {
  .card-image-top{
    width: 230px;
    height: 230px;
  }
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content : center;
}



  */

nav.pagination {
  display: flex;
  justify-content : center;
  border-bottom: none;
}
span.page.current {
  color: rgb(72,72,72);
  font-weight: 800;
}
span.prev {
  order: 1;
}
span.first {
  order: 0;
}
span.page {
  order: 2;
  margin: 0 1rem;
}
span.next {
  order: 3;
}
span.last {
  order: 4;
}
.page {
  padding: 1rem 0;
}

</style>

<%= render 'nav' %>
<main>
  <div class="books_title">
    <div class="result"></div>
    <div class="choice">
    <span class="active option" id = "0">전체</span> | <span class="option" id = "1">이름순</span> | <span class="option" id = "2">가격순</span> | <span class="option" id = "3">인기순</span>
    </div>
  </div>
  <div class="book_contents container">
    <div class="row">
      <%= render 'book_div', books: @books %>
    </div>
  </div>
   <div class="page"><%= paginate @books, :window => 10, :outer_window => -1 %></div> 
</main>
<%= render 'footer' %>

<script>
$(document).ready(function () {
    $(document).on('click', '.option', function () {
        $(".active").toggleClass("active");
        $(this).toggleClass("active");
        var opt = $(this).attr('id');
        $(".row").empty();
        if(opt==0) {
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.id}})) %>";
        }
        else if(opt==1){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.bookname}})) %>";
        }
        else if(opt==2){
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.price}})) %>";
        }
        else{
          var html = "<%= escape_javascript(render(partial: 'book_div', locals: {books: @books.sort_by{ |b| b.likes.size*-1}})) %>";
        }
        
        $(".row").append(html);
    });
});

	$(document).scroll(function() {
		if ($(window).scrollTop() > 350) {
      $('#bar').css("color","black");
    }
		else {
      $('#bar').css("color","white");
    }		
	});
</script>
