(function($){
	function replaceAll(str, searchStr, replaceStr) {
	  return str.split(searchStr).join(replaceStr);
	}

	$('.info').empty();
	<% for i in 0..4 %>
		var title = "<%= @search_results.items[i].title %>";
		title = replaceAll(title, "&lt;b&gt;", "");
		title = replaceAll(title, "&lt;/b&gt;", "");
		var author = "<%=@search_results.items[i].author%>";
		author = replaceAll(author, "&lt;b&gt;", "");
		author = replaceAll(author, "&lt;/b&gt;", "");
		$('.info').append('<li data-author="'+author+'" data-price = "<%= @search_results.items[i].price%>"><%=image_tag @search_results.items[i].image %><br>' + '제목: ' + title + '<br>저자: '+author+'<br>가격 : <%=@search_results.items[i].price%></li>');
	<% end %>
})(jQuery)