<style>

@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

li.nav-item a#mypage {
  color: rgb(0,42,253);
}


#banner {
  background-color: rgb(0,42,253);
  height: 280px;
  width: 100%;
}

.ment {
  padding-top: 4%;
  text-align: center;
}

.ment h2 {
  font-size: 2.5rem;
}

main {
  min-height: 130vh;
  height: auto;
}

.container {
  line-height: 1.5;
  font-size: 1rem;
}

.row {
  padding: 1rem 0;
  display: block;
}

.trade_content {
  position: relative;
  margin: 1rem 0;
  padding: 16px;
  border: 1px solid #dadfeb;
  border-radius: .28571429rem;
}

.msgs {
  margin: 0 0;
}

.msgs > .msg:first-child {
  margin-top: 0 !important;
  border-top: none !important;
  padding-top: 0 !important;
}

.msgs > .msg:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.msgs > .msg:last-child:hover {
  padding-bottom: 1em !important;
  margin-bottom: -1em !important;  
  transition: none;
}

.msgs > .msg:first-child:hover {
  padding-top: 1em !important;
  margin-top: -1em !important;
  transition: none;
}

.msg {
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid #dadfeb;
  margin: 0;
  font-size: 1em;
  display: flex;
}

.msg_time {
  font-size: 0.9rem;
  color: gray;
}

.each_header {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
}

.grid > .row:before {
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  margin: 0 10px;
  box-shadow: 0 -1px 0 0 #dadfeb;
}

.books {
  display: flex;
  justify-content: space-around;
}

.book {
  height: 230px;
  width: 180px;
}

.books > .book:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books > .book:last-child span {
  color: rgb(115,111,111);
  font-size: 70px;
  font-weight: 200;
}

.books > .book:hover,
.msgs > .msg:hover {
  background-color: #dadfeb;
  transition: 0.3s all ease-in-out;
}

.books > .book:last-child span:hover{
  color: white;
}

.inner-image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #dadfeb;
  border-radius: .28571429rem;
}

.img-cover {
  height: 100%;
  border-radius: .28571429rem;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 50%;
}

</style>

<%= render 'nav2' %>

<main>

<div class="ment"><h2>마이페이지</h2></div>

<div id = "wrap" class="vertically divided grid container">
  <section id="trade" class="row">
    <h4 class="trade_header each_header">
    최근활동
    </h4>
    <div class="trade_content">
      <div class="msgs">
        <% current_user.new_notifications.unread_by(current_user).each do |m| %>
          <%= link_to m, class: 'msg row' do %>
            <div class="msg_bell col-md-1">읽지 않음</div>
            <div class="msg_title col-md-9"><%= m.content %></div>
            <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
          <% end %>
        <% end %>
        <% current_user.new_notifications.read_by(current_user).each do |m| %>
          <%= link_to m , class: 'msg row' do %>
            <div class="msg_bell col-md-1">읽음</div>
            <div class="msg_title col-md-9"><%= m.content %></div>
            <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <hr>
  <section id="mybooks" class="row">
    <h4 class="mybooks_header each_header">
    내가 올린 책들
    </h4>
    <div class="mybooks_content">
      <div class="books upload row">
        <% for i in 0..3 %>
        <div class='book mybook-<%=i%>'>
          <div class="inner-image" style="background-color: gray;">
            <div class="img-cover text-center"></div>
          </div>
          <h4 class="card-title" style="text-align:center"></h4>
        </div>
        <% end %>
        <a class='book' href=<%= mybook_path%>><span>+</span></a>
      </div>
    </div>
  </section>
  <hr>
  <section id="myzzims" class="row">
    <h4 class="myzzims_header each_header">
    내가 찜한 책들
    </h4>  
    <div class="myzzims_content">
      <div class="books zzims row">
        <% for i in 0..3 %>
        <div class='book myzzim-<%=i%>'>
          <div class="inner-image" style="background-color: gray;">
            <div class="img-cover text-center"></div>
          </div>
          <h4 class="card-title" style="text-align:center"></h4>
        </div>
        <% end %>
        <a class='book' href=<%= myzzim_path%>><span>+</span></a>
      </div>    
    </div>
  </section>
</div>
</main>
<%= render 'footer' %>

<script>
$(document).ready(function () {
  <% @books.each_with_index do |b, i| %>
    var book = $('.mybook-<%=i%>');
    book.find('.inner-image').css({
      'background-color': '',
      'background-image': 'url(<%=b.img_url.first%>)'
    });
    book.find('.card-title').text('<%=b.bookname%>');
    <% if b.sell %>
      book.find('.img-cover').css({
        'background-color': 'rgba(0, 0, 0, 0.6)'
      });
      book.find('.img-cover').text('판매완료');
    <% end %>
  <% end %>

  <% @likes.each_with_index do |l, i| %>
    var like = $('.myzzim-<%=i%>');
    like.find('.inner-image').css({
      'background-color': '',
      'background-image': 'url(<%=l.book.img_url.first%>)'
    });
    like.find('.card-title').text('<%=l.book.bookname%>');
    <% if l.book.sell %>
      book.find('.img-cover').css({
        'background-color': 'rgba(0, 0, 0, 0.6)'
      });
      book.find('.img-cover').text('판매완료');
    <% end %>
  <% end %>
});  
</script>



