<style>
html {
  font-family: 'Nanum Square','Nanum Gothic', sans-serif;
}
/*@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
*/

#banner {
  background-color: rgb(0,42,253);
  height: 280px;
  width: 100%;
}

.ment {
  padding-top: 4%;
  text-align: center;
}

.ment h2 {
  font-size: 2.5rem;
}

main {
  min-height: 130vh;
  height: auto;
}

.container {
  line-height: 1.5;
  font-size: 1rem;
}

.row {
  padding: 1rem;
  display: block;
}
#mybooks {
  margin: 1rem;
}

.trade_content {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #dadfeb;
  border-radius: .28571429rem;
  min-height: 25vh;
}

.msgs {
  margin: 0 0;
}

.msgs > .msg:first-child {
  margin-top: 0 !important;
  border-top: none !important;
  padding-top: 0 !important;
}

.msgs > .msg:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.msgs > .msg:last-child:hover {
  padding-bottom: 1em !important;
  margin-bottom: -1em !important;  
  transition: none;
}

.msgs > .msg:first-child:hover {
  padding-top: 1em !important;
  margin-top: -1em !important;
  transition: none;
}

.msg {
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid #dadfeb;
  margin: 0;
  font-size: 1em;
  display: flex;
}

.msg_time {
  font-size: 0.9rem;
  color: gray;
}

.each_header {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(72,72,72);
}

.grid > .row:before {
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  margin: 0 10px;
  box-shadow: 0 -1px 0 0 #dadfeb;
}

.books {
  display: flex;
  justify-content: space-around;
}

/*
.books > .book:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.books > .book:last-child span {
  color: rgb(115,111,111);
  font-size: 70px;
  font-weight: 200;
}

.inner-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .28571429rem;
  /*for debugging*/
  border: 1px solid #fbfbfb;
}

.img-cover {
  height: 100%;
  border-radius: .28571429rem;
  z-index: 1;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 50%;
}

  #mobilebtn {
    color: black !important;
  }

.card-body {
  padding: 0.25rem;
  text-align: center;
}
.card-title {
  text-align: center;
  margin: 0.5rem;
  font-size: 0.9rem;
}

.book {
  width: 200px;
}
.book_btm {
  display: flex;
  cursor: pointer;
}
.show {
  padding-top: 40%;
  padding-left: 40%;
} 
#bar {
  color: #232741 !important;
}
@media (min-width: 992px) {
  .show-books,
  .show-zzims {
    margin-top: 4.5rem !important;
  }
}
@media all and (min-width: 320px) and (max-width: 570px) {
  .trade_content {
    margin: 0 !important;
  }
}

</style>
<%= render 'nav2' %>
<main>
<div id = "wrap" class="vertically divided grid container">
  <section id="trade" class="row">
    <h4 class="trade_header each_header">
    최근활동
    </h4>
    <div class="trade_content">
      <div class="msgs">
        <% current_user.new_notifications.unread_by(current_user).each do |m| %>
          <%= link_to m, class: 'msg row' do %>
            <div class="msg_bell col-md-2">읽지 않음</div>
            <div class="msg_title col-md-8"><%= m.content %></div>
            <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
          <% end %>
        <% end %>
        <% current_user.new_notifications.read_by(current_user).each do |m| %>
          <%= link_to m , class: 'msg row' do %>
            <div class="msg_bell col-md-1">읽음</div>
            <div class="msg_title col-md-9"><%= m.content %></div>
            <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <hr>

  <section id="mybooks">
    <h4 class="mybooks_header each_header">최근 올린 책들</h4>
    <div class="mybooks_content">
      <div class="books row">
        <% for i in 0..3 %>
        <%= link_to '' , class: "book mybook-#{i}" do %>
          <div class="inner-image" style="background-color: #dadfeb;">
            <div class="img-cover text-center"></div>
          </div>
          <h4 class="card-title" style="text-align:center"></h4>
        <% end %>
        <% end %>
        <div class='book'>
        <div class="show-books" style="text-align: center; padding: 0.8rem; margin: 1rem; border: 1px solid gray; border-radius: .28571429rem;"><span style="font-size: 1rem;">전체보기</span></div>
      </div>
      </div>
    </div>
    <div class="books-list row" style="display: none;">
      <h4 class="mybooks_header each_header">
      전체 보기
      </h4>
      <div class="mybooks_content">
        <div class="btm_books">
          <% @books.each do |m| %>
            <div class="book_btm">
            <%= link_to m, class: 'msg row' do %>
              <div class="card-name col-md-4"><%= m.bookname%></div>
              <div class="card-author col-md-2"><%= m.author %></div>
              <div class="card-price col-md-3"><%= m.price %></div>
              <div class="card-time col-md-3"><%= m.created_at.strftime("%Y-%m-%d") %></div>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
    
  <hr>
  <section id="myzzims" class="row">
    <h4 class="myzzims_header each_header">
    내가 찜한 책들
    </h4>  
    <div class="myzzims_content">
      <div class="books row">
        <% for i in 0..3 %>
        <%= link_to '', class: "book myzzim-#{i}" do %>
          <div class="inner-image" style="background-color: #dadfeb;">
            <div class="img-cover text-center"></div>
          </div>
          <h4 class="card-title" style="text-align:center"></h4>
        <% end %>
        <% end %>
       <div class='book'>
        <div class="show-zzims" style="text-align: center; padding: 0.8rem; margin: 1rem; border: 1px solid gray; border-radius: .28571429rem;"><span style="font-size: 1rem;">전체보기</span></div>
      </div>
      </div>    
    </div>
    <div class="zzims-list row" style="display: none;">
      <h4 class="myzzims_header each_header">
      전체 보기
      </h4>
      <div class="myzzims_content">
        <div class="btm_books">
          <% @likes.each do |m| %>
            <div class="book_btm">
            <%= link_to m.book, class: 'msg row' do %>
              <div class="card-name col-md-4"><%= m.book.bookname%></div>
              <div class="card-author col-md-2"><%= m.book.author %></div>
              <div class="card-price col-md-3"><%= m.book.price %></div>
              <div class="card-time col-md-3"><%= m.book.created_at.strftime("%Y-%m-%d") %></div>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

</main>
<%= render 'footer' %>

<script>
$(document).scroll(function() {
  if ($(window).scrollTop() > 350) {
  $('#mobilebtn').css('color','black');
}
  else {   
  $('#mobilebtn').css('color','black');
}      
});

$(document).ready(function () {
  $('.minititle span').text('마이페이지');
  
  $('.books-list').hide();
  <% @recent_books.each_with_index do |b, i| %>
    var book = $('.mybook-<%=i%>');
    book.attr('href', '/books/<%=b.id%>');
    book.find('.inner-image').css({
      'background-color': '',
      'background-image': 'url(https://dsgut53a1wh4g.cloudfront.net/<%=b.img_url.first.path%>)'
    });
    book.find('.card-title').text('<%=b.bookname%>');
    <% if b.sell %>
      book.find('.img-cover').css({
        'background-color': 'rgba(0, 0, 0, 0.6)'
      });
      book.find('.img-cover').text('판매완료');
    <% end %>
  <% end %>

  $(document).on('touchstart click', '.show-books', function () {
    $('.books-list').show();
  });

  <% @recent_likes.each_with_index do |l, i| %>
    var like = $('.myzzim-<%=i%>');
    like.attr('href', '/books/<%=l.book.id%>');
    like.find('.inner-image').css({
      'background-color': '',
      'background-image': 'url(https://dsgut53a1wh4g.cloudfront.net/<%=l.book.img_url.first.path%>)'
    });
    like.find('.card-title').text('<%=l.book.bookname%>');
    <% if l.book.sell %>
      like.find('.img-cover').css({
        'background-color': 'rgba(0, 0, 0, 0.6)'
      });
      like.find('.img-cover').text('판매완료');
    <% end %>
  <% end %>

  $(document).on('touchstart click', '.show-zzims', function () {
    $('.zzims-list').show();
  });
});  
</script>



