<style>
html {
	font-family: 'Nanum Square','Nanum Gothic', sans-serif;
}
h4 {
	font-size: 1rem;
	font-weight: 600;
	color: rgb(59,56,56);
}

.content {
	background-color: white;
}
small {
	font-size: 1rem;
}
strong {
	font-weight: bold;
}
.book1 > p > strong {
	color: red;
}
.book-detail {
	font-size: 1.2rem;
	padding: 0 3.5rem;
}

.book-detail2 {
	margin-top: 2rem;
}	

#author {
	font-size: 0.8rem;
	color: gray;
}
.title { 
	margin-bottom: 30px;
	color: gray; 
}
.image,
.image2{
	height: 300px;
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.book-content {
	padding: 1rem 0;
}
.book1 > div > h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.book1 > div > p { font-size: 1rem; }

.book2 {
	padding-top: 2%;
	padding-bottom: 2%;
}
/*
.book1, .book2, .book3 { 
	height: 100px;
	display: flex;
	flex-direction: column;
}
.book3 {
	height: 70px;
}
.book1 {
	justify-content: space-between;
}
.book2, .book3 {
	font-size: 1rem;
}
.book2 { justify-content: center; }
.book3 { justify-content: flex-start; }
.book2 > p, .book3 > p {
	margin: 5px 0;
}
*/
.content {
	margin-top: 0.5rem;
	padding: 15px;
	font-size: 1rem;
	min-height: 400px;
	border-radius: .28571429rem;
}
.button {
	width: 100%;
    background-color: rgba(164, 164, 164,0.5);
    border: none;
    outline: none;
    color: white;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.button1 {
	 border-radius: .28571429rem;
	 border: 1px solid rgba(164, 164, 164,0.5);
}
.button2 {
  background-color: rgba(0,0,0,0); 
  color: #A4A4A4; 
  border: 1px solid #A4A4A4;
  border-radius: .28571429rem;
}
.button2 .fa-heart {
  color: #A4A4A4;
}
.button3 {
	background-color: #fdd400; 
	border: 1px solid #fdd400;
  color: rgb(59,56,56); 
  border-radius: .28571429rem;
}
.button3 .fa-heart {
  color: #ff0000;
}
.button5 {
	color: red !important;
	border: 1px solid red;
	border-radius: .28571429rem;
	background-color: white;
}
.button5 > a:link {
	color: red !important;
}

#zzim {
	width: 100%; 
}

#mobilebtn {
  color: black !important;
}

a:hover {
	color: black;
}

#btns {
	padding: 0;
}

.inner_content {
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: auto;
	padding: 1rem;
	margin: 1rem;
}
/* 위의 inner_content는 min-height가 있어야 하는데 아래는 없어야 하니까 구분해주기. */
.inner_content.maincontent {
	min-height: 600px;
	height: auto;
} 

.mainimg .image{
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	width: 50%;
}
}

.maincontent {
	display: flex;
	justify-content: center;
	text-align: center;
}

#cmt {
	font-size: 0.75rem;
	color: gray;
	margin-right: 1%;
}

/* media queries */
@media all and (min-width: 320px){

.mainimg .image{
	width: 90%;
	background-size: contain;
}
	.inner_content {
		margin: 0;
		padding: 0.5rem;
		border-right: none;
		border-left: none;
		border-top: none;
	}
	.book-detail {
		padding: 0 0.5rem;
	}
	.content {
		padding: 0;
	}
	#comment_content {
		width: 80% !important;
	}
	.submitbtn {
		width: 18% !important;
	}
	.cmtcreate {
		margin: 0.5rem;
	}
	.maincontent {
		margin: 0 !important;
	}
	.mainimg > .image {
	margin: 1rem auto;
	width: 100%;
}
.maincontent2 {
	margin: 2rem 0rem 4rem 0rem;
}

}
@media all and (min-width: 576px) and (max-width: 991px){
	.book-content {
		padding: 1rem;
}
.mainimg .image{
	width: 80%;
	background-size: contain;
}
	.inner_content {
		margin: 0;
		padding: 0.5rem;
	}
	#comment_content {
		width: 90% !important;
	}
	.submitbtn {
		width: 9% !important;
	}
}
@media all and (min-width: 992px) {
	.book-content {
		padding: 2rem;
	}

	.allbtn {
		display: flex;
		justify-content:space-between;
	}
	#btns {
		width: 49%;
	}
	.row {
		padding: 0 1.5rem;
	}
	.inner_content {
		margin: 0;
	}
.mainimg .image{
	width: 70%;
	background-size: contain;
}
	#comment_content {
		width: 92% !important;
	}
	.submitbtn {
		width: 7.5% !important;
	}
	.cmtcreate {
		margin: 0rem;
	}
}

@media all and (min-width: 1200px) {
	.book-content {
		padding: 2rem;
	}
	.row {
		padding: 0 1.5rem;
	}
	.title {
		margin-left: 6%;
	}
	.allbtn {
		display: flex;
		justify-content:space-between;
	}
	#btns {
		width: 49%;
	}
	.inner_content {
		padding: 2rem;
	}
	.book-detail {
		margin: 0 3rem;
		margin-top: 2rem;
	}
	#comment_content {
		width: 93% !important;
	}
	.submitbtn {
		width: 6.5% !important;
	}
	.cmtcreate {
		margin: 1rem;
	}
	.image {
	margin: 1rem auto;
	width: 40% !important;
}
.maincontent2 {
	margin: 2rem 2rem 5rem 2rem;
}
form.new_reply .repl {
	width: 7% !important;
}
}

.submitbtn {
	padding: 1.2rem 0;
	width: 6.5%;
	font-size: 1rem;
	border: 1px solid #fdd400;
	background-color: #fdd400;
	border-radius: .28571429rem;
}

#comment_content {
	margin: 0;
	border: 1px solid gray;
	padding: 1rem;
	width: 93%;
}

ul.comments > hr:last-child {
	border-top: none;
}

.img-cover {
	height: 100%;
	z-index: 1;
	color: white;
	font-size: 1.2rem;
	font-weight: bolder;
	padding-top: 50%;
	background-color: rgba(0, 0, 0, 0.6);
}

form.new_reply .repl {
	padding: 1.2rem 0;
	width: 20%;
	font-size: 1rem;
	border: 1px solid #fdd400;
	background-color: #fdd400;
	border-radius: .28571429rem;
}

.repl_content {
	border: 1px solid gray;
	padding: 1rem;
	margin: 0;
	width: 70%;
}
#bar {
  color: #232741 !important;
}


</style>

<header>
<%= render 'nav2' %>
</header>
<main>
	<div class="container">
		<div class="book-detail book-detail1">
			<div class="title"><h4>기본정보</h4><hr></div>
			<div class="row">
				<div class="col-sm-5 col-lg-4 col-xl-4" style="padding: 0;">
					<% if @book.img_url.first %>
					<div class="image2" style="background-image: url(https://dsgut53a1wh4g.cloudfront.net/<%=@book.img_url.first.path%>);">
					<% end %>
						<% if @book.sell %>
					    <div class="img-cover text-center">판매완료</div>
					    <% end %>
					</div>
				</div>
				<div class="col-sm-7 col-lg-8 col-xl-8 book-content">
					<div class="book1">
						<div><h2 style="font-weight: bold;"><%= @book.bookname%></h2><p id="author"><%= @book.author%> 지음</p></div>
					</div>
					<hr>
					<div class="book2">
						<p><span style="font-size: 0.9rem">판매가 : </span><strong style="color: blue; font-size: 1.2rem;"><%=@book.price %>원</strong> <span style="color: red; font-size: 0.9rem;">
							<% if @book.discount>=0 %>
					        [<%= @book.discount%>%&darr;]
					        <% else %>
					        [할인율 정보 없음]
					        <% end %>
						</span></p>
						<p><span style="font-size: 0.9rem">판매자 : <%= @book.user.username %> | <%= @book.user.school %> | <%= @book.user.studentid %>학번</span></p>
						<p><span style="font-size: 0.9rem">등록일 : <%= @book.user.created_at.strftime("%Y-%m-%d") %></span></p>
					</div>
					<hr>
					<div class="allbtn">
						<% if current_user == @book.user %>
						<div id="btns">
						  <% if @book.sell %>
						  <%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button1 sell' %>
						  <% else %>
						  <%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button2 sell' %>
						  <% end %>
						</div>
						<div id="btns">
							<%= link_to '삭제하기', book_path(@book), method: :delete, class: 'button button5' %>
							<% else %>
						<% if current_user.is_like?(@book) %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button3 like-btn', id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% else %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button2 like-btn',id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% end %>
						</div>	
						<% end %>		
					</div>
				</div>
			</div>		
		</div>
			<div class="book-detail book-detail2">
				<h4>상세정보</h4>
				<hr>	
				<div class="content">
					<div class="inner_content maincontent">
					<!-- 정원아 여기야! -->
						<div class="mainimg">
							<% @book.img_url.each do |x| %>
								<% if x %>
									<div class="image eachimg" style="background-image: url(https://dsgut53a1wh4g.cloudfront.net/<%=x.path%>);"></div>
								<% end %>
							<% end %>
						</div>
						<div class="maincontent2">
							<p><%= @book.content %></p>
						</div>
					</div>
				</div>
			</div>	
			<div class="book-detail book-detail2">
				<h4 id="comment-box">댓글</h4>
				<div class="content">
					<div class="inner_content" style="padding-bottom: 0.1rem; padding-top: 0.1rem;">
						<ul class="comments" style="margin:0.5rem;">
        			<% @book.comments.each do |comment| %>
        				<%= render partial: "comments/item", locals: { book: @book, comment: comment } %>
        				<div id="comment-<%=comment.id%>-replyform", class="ml-2"></div>
								<hr>
        			<% end %>
    				</ul> 
					</div>
			  	<!-- 댓글생성 -->
					<div class="cmtcreate">
						<%= form_for [@book, @book.comments.new], remote: true do |f| %>
							<div class="top">
				  			<%= f.text_field :content, :autocomplete => :off,:required => true %>
				  			<%= f.submit "작성",class:'submitbtn' %>
							</div>
							<div class="bottom" style="text-align: right; margin: 0.5rem 0">
				  			<%= f.check_box(:secret) %>
				  			<%= label_tag(:secret, '비밀댓글') %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
	</div>
</main>
<%= render 'footer' %>

<script>
$(document).scroll(function() {
  if ($(window).scrollTop() > 350) {
  $('#mobilebtn').css('color','black');
}
  else {   
  $('#mobilebtn').css('color','black');
}      
});
  $(document).ready(function () {
		$('.minititle span').text('상세보기');

    var mw = $('.eachimg').width();
    $('.eachimg').css({'height': mw + 'px'});
  });
</script>