<style>

h4 {
	font-size: 1rem;
	font-weight: 600;
	color: rgb(59,56,56);
}

.content {
	background-color: white;
}
small {
	font-size: 1rem;
}
strong {
	font-weight: bold;
}
.book1 > p > strong {
	color: red;
}
.book-detail {
	font-size: 1.2rem;
	padding: 0 1.5rem;
}
.book-detail2 {
	margin-top: 1.8rem;
}	
.title { 
	margin-bottom: 30px;
	color: gray; 
}
.image{
	height: 300px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.book-content {
	padding: 1rem 0;
}
.book1 > div > h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.book1 > div > p { font-size: 1rem; }

/*
.book1, .book2, .book3 { 
	height: 100px;
	display: flex;
	flex-direction: column;
}
.book3 {
	height: 70px;
}
.book1 {
	justify-content: space-between;
}
.book2, .book3 {
	font-size: 1rem;
}
.book2 { justify-content: center; }
.book3 { justify-content: flex-start; }
.book2 > p, .book3 > p {
	margin: 5px 0;
}
*/
.content {
	margin-top: 0.5rem;
	padding: 15px;
	font-size: 1rem;
	min-height: 400px;
	border-radius: .28571429rem;
}
.button {
	width: 100%;
    background-color: rgba(164, 164, 164,0.5);
    border: none;
    outline: none;
    color: white;
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.button1 {
   border-radius: .28571429rem;
}
.button2 {
  background-color: rgba(0,0,0,0); 
  color: #A4A4A4; 
  border: 1px solid #A4A4A4;
  border-radius: .28571429rem;
}
.button2 .fa-heart {
  color: #A4A4A4;
}
.button3 {
	background-color: rgb(255,220,117); 
	border: 1px solid rgb(255,220,117);
  color: rgb(59,56,56); 
  border-radius: .28571429rem;
}
.button3 .fa-heart {
  color: #ff0000;
}

#zzim {
	width: 100%; 
}

#mobilebtn {
  color: black !important;
}

a:hover {
	color: black;
}

#btns {
	padding: 0;
}

/* media queries */
@media all and (min-width: 320px){

}
@media all and (min-width: 576px) and (max-width: 991px){
	.book-content {
		padding: 1rem;
	}
}
@media all and (min-width: 992px) {
	.book-content {
		padding: 1rem;
	}
}

@media all and (min-width: 1200px) {
	.book-content {
		padding: 1rem;
	}
}





</style>

<header>
<%= render 'nav2' %>
</header>
<main>
	<div class="container">
		<div class="book-detail book-detail1">
			<div class="title">
				<h4>기본정보</h4>
				<hr>
			</div>
			<div class="row">
				<div class="col-sm-5 col-lg-4 col-xl-3" style="padding: 0;">
					<div class="image" style="background-image: url(<%=@book.img_url.first %>);"></div>
				</div>
				<div class="col-sm-7 col-lg-8 col-xl-7 book-content">
					<div class="book1">
						<div>
						<h1><%= @book.bookname%></h1>						<p>저자 | <%= @book.author%></p>

						</div>
					</div>
					<hr>
					<div class="book2">
						<p><small>판매가 :</small> <strong><%=@book.price %>원</strong></p>
						<p>판매자명 : <%= @book.user.username %></p> <p>학번 : <%= @book.user.studentid %></p> <p>학과 : <%= @book.user.school %></p>
					</div>
								<div class="alllbtn">
				<div id="btns">
					<% if current_user.is_like?(@book) %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button3 like-btn', id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% else %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button2 like-btn',id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% end %>
				</div>			

				<div id="btns">
					<% if current_user == @book.user %>
					<% if @book.sell %>
					<%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button1 sell' %>
					<% else %>
					<%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button2 sell' %>
					<% end %>
					<% end %>
				</div>
			</div>
				</div>
			</div>
<!--
			<div class="alllbtn">
				<div id="btns">
					<% if current_user.is_like?(@book) %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button3 like-btn', id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% else %>
							<%= link_to book_like_path(@book), method: :post, remote: true, class: 'button button2 like-btn',id:'zzim' do %>
								<i class="far fa-heart"></i><%=@book.likes.size %>
							<% end %>
							<% end %>
				</div>			

				<div id="btns">
					<% if current_user == @book.user %>
					<% if @book.sell %>
					<%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button1 sell' %>
					<% else %>
					<%= link_to '판매완료', book_sell_path(@book), method: :post, remote: true, class: 'button button2 sell' %>
					<% end %>
					<% end %>
				</div>
			</div>
-->
			</div>
		</div>
		<div class="book-detail book-detail2">
			<h4>상세정보</h4>
			<hr>	
			<div class="content">
				<!-- 정원아 여기야! -->
				<% @book.img_url.each do |x| %>
					<div class="image" style="background-image: url(<%=x.url %>);"></div>
				<% end %>

				<p><%= @book.content %></p>
				
			</div>
		</div>

		<div class="book-detail book-detail2">
			<h4 id="comment-box">댓글</h4>
			<hr>
			<div class="content">
				<ul class="comments">
        			<% @book.comments.each do |comment| %>
        				<%= render partial: "comments/item", locals: { book: @book, comment: comment } %>
        				<div id="comment-<%=comment.id%>-replyform", class="ml-2"></div>
								<hr>
        			<% end %>
    			</ul> 
  			  <%= form_for [@book, @book.comments.new], remote: true do |f| %>
				  	 <%= f.text_field :content, :autocomplete => :off %>
				  	 <%= label_tag(:secret, "비밀댓글") %>
				  	 <%= f.check_box(:secret) %>
				   	 <%= f.submit %>
				<% end %>
			</div>
		</div>

	</div>
</main>
<%= render 'footer' %>

<script>
  $(document).ready(function () {
		$('.minititle span').text('책상세보기');
  });
</script>