<style>
	.title, .card-title { 
		font-size: 1.2rem;
		margin-bottom: 10px;
		padding: 0 30px;
		font-weight: bold;
	}
	.title > h3 { color: gray; }
	.card-title {
		font-size: 1rem;
		color: gray;
	}
	.letter { padding: 0 60px; }
	.book-like, .list {
		min-height: 400px;
	}
  .card {
    border: none;
    padding-top: 20px;
    align-items: center;
  }
  .card-image-top{
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card-body{
    text-align: center;
  }
  .card-title{
    font-weight: bold;
  }

@media all and (max-width: 576px){
  .card-image-top{
    width: 200px;
    height: 250px;
  }
}
@media all and (min-width: 576px) and (max-width: 992px){
  .card-image-top{
  	width: 150px;
    height: 200px;
  }
}
@media all and (min-width: 992px) {
  .card-image-top{
    width: 170px;
    height: 230px;
  }
}

.messages-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
 
.message-sent {
    position: relative;
    background-color: #FAEBD7;
    border: #FAEBD7 0.8px solid;
    border-radius: 15px;
    margin: 5px 20px;
    padding: 10px;
    margin-left:auto;
    margin-right: 30px;
    float: right;
}
 
.message-sent-date {
    margin-right: 15px;
    float: right;
}
 
.message-received {
    border: #EABA9D 0.8px solid;
    border-radius: 15px;
    margin: 5px 20px;
    padding: 10px;
    float: left;
}
 
.message-received-date {
    float: left;
}
.form-text {
	height: 50px;
}
</style>
<header>
<%= render 'nav2' %>
</header>
<main>
	<div class="container">
		<div class="book-like">
		<div class="title">
			<h3>찜한 책</h3>
			<hr>
		</div>
		<div class="row">
	      <% @books.each do |b| %>
	      <div class="col-12 col-xl-3 col-lg-4 col-md-4 col-sm-6 card">
	      	<%= link_to conversations_path(user_id: b.user), remote: true, method: :post do %>
	        <div class="card-image-top" style="background-image: url(http://dsgut53a1wh4g.cloudfront.net/<%=b.img_url.first.path%>);"></div>
	        <div class="card-body">
	          <h4 class="card-title"><%=b.bookname%></h4>
	          <p class="card-text price"><%= b.price%>원</p>
	        </div>
	        <% end %>
	      </div>
	      <% end %>
	    </div>
	    </div>
	    <div class="list">
	    <div class="title">
	    	<h3>쪽지 리스트</h3>
	    	<hr>
	    </div>
	    <div class="row letter">
	    	<div class="col-12">
	    		<ul id="conversations-list">
	    			<% @conversations.each do |conversation| %>
	    			<%= render 'conversations/conversation', conversation: conversation, user: current_user %>
	    			<% end %>
	    		</ul>
    		</div>
	    </div>
	    </div>
	</div>
</main>
<%= render 'footer' %>

<script>
	(function() {
	  $(document).on('click', '.toggle-window', function(e) {
	    e.preventDefault();
	    var panel = $(this).parent().parent();
	    var messages_list = panel.find('.messages-list');
	 
	    panel.find('.panel-body').toggle();
	    panel.attr('class', 'panel panel-default');
	 
	    if (panel.find('.panel-body').is(':visible')) {
	      var height = messages_list[0].scrollHeight;
	      messages_list.scrollTop(height);
	    }
	  });
	})();
</script>