<!DOCTYPE html>
<html>
  <head>
    <title>책은 돌려보는 거야 - 반짝</title>
    <link rel="icon" type="image/jpg" href="/banzac.png">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/assets/nav.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Hind:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
</head>

  <body>
    <%= yield %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      $(document).ready(function () {
        <% flash.each do |key, value| %>
        <% if value=="인증 주소가 포함된 메시지를 이메일 주소로 보냈습니다. 계정을 활성화하기 위해 메일을 확인하세요." or value=="잠시 후에 비밀번호 재설정 안내 메일을 받을 수 있습니다." %>
            swal({
              icon: "success",
              title : "확인 메일 전송 완료",
              text: "메일함을 확인해보세요",
              buttons: false,
              timer: 2500,
              closeModal: false
              });
        <% end %>
        <% end %>
      });
    </script>
  </body>
</html>
